*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container{
    margin: 0 15px;
}

.container .form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}

.form-box h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.form-box input, select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-box button{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

.form-box button:hover{
    background: #6884d3;
}

.form-box p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.form-box p a{
    color: #3868ea;
    text-decoration: none;
}

.form-box p a:hover{
    text-decoration: underline;
}